/* .output{
    width: ;
    height: 100%;
    background-color: cornsilk;
    color: #FFC15E;
    width: 415px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    
} */

